# Database (Payment Service)
DB_USERNAME=postgres
DB_PASSWORD=your_secure_password

# External Service URLs
BOOKING_SERVICE_URL=http://ride-booking-service:8080
REVIEW_SERVICE_URL=http://localhost:8084
PROFILE_SERVICE_URL=http://localhost:8085
AUTHENTICATION_SERVICE_URL=http://localhost:8086

# Frontend API URLs (gateway)
VITE_GATEWAY_API_URL=http://localhost:8080/api
FRONTEND_PORT=3000

# SECURITY
JWT_SECRET=secret

# AUTH Service
AUTH_DB_USER=user
AUTH_DB_PASSWORD=password

# PROFILE Service
PROFILE_DB_USER=user
PROFILE_DB_PASSWORD=password